{% extends '::layouthome.html.twig'%}

{% block body %}

    <div class="container">
        <h1>{{ category.nomCat|title }}</h1>


        <div class="row">
            <div class="hm_product_inner">
                {% for produit in produits %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="hm_pro_box">
                            <div class="hm_pro_img">
                                <img src="{{ asset('images/pro1.jpg') }}" alt="" class="img-responsive">
                                <div class="pro_price_wrap">
                                    {% if produit.promotion %}
                                        <span class="pro_price"><strike>{{ produit.prix }}</strike></span>
                                        |
                                        <span class="pro_price">{{ produit.prixPromotion }}</span>
                                    {% else %}
                                        <span class="pro_price">{{ produit.prix }}</span>
                                    {% endif %}
                                    {% if produit.promotion %}
                                        <a href="#" class="pro_buy">{{ produit.promotion }}%</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="hm_pro_data">
                                <h3><a href="{{ path('product_detail_page', {'id':produit.idProduit}) }}">{{ produit.titre }}</a></h3>


                                <div class="rating">
                                    {{ produit.rating|rating }}
                                    {#{% for rating in produit.ratings %}
                                        {% if produit.idProduit == rating.produit.idProduit %}
                                            {{ rating.rating|rating }}
                                        {% endif %}
                                    {% endfor %}#}
                                    {#<span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>#}
                                </div>
                                <p>{{ produit.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}